.card-item {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 30px 0 hsla(0,0%,52%,.251);
    max-width: 391px;
    padding: 16px 32px;
    text-align: center;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 32px;

    &__icon {
        height: auto;
        max-width: 100%;
    }
}